<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        id：bean唯一的标识符
        class：bean对象的全限定名
        name：别名，可以同时取多个
        scope：bean的作用域，singleton（单例，默认）、prototype（原型）、request、session、application
     -->
    <!-- Set 注入  -->
    <bean id="person01" class="com.leocode.bean.Person" scope="prototype">
        <property name="name" value="Leo"/>
        <property name="age" value="30"/>
        <property name="gender" value="男"/>
    </bean>

    <!-- p 命名空间注入（通过 Set 注入），需要加入 xmlns:p="http://www.springframework.org/schema/p" 约束 -->
    <bean id="person02" class="com.leocode.bean.Person" p:name="Tom" p:age="20" p:gender="男" />

    <!-- 构造器注入 -->
    <bean id="person03" class="com.leocode.bean.Person">
        <!-- 构造器注入，可省略 name 属性，需按照构造器参数顺序赋值 -->
        <constructor-arg name="name" value="Lucy" />
        <constructor-arg name="age" value="25" />
        <constructor-arg name="gender" value="女" />
    </bean>

    <!-- c 命名空间注入（通过构造器），需要 xmlns:c="http://www.springframework.org/schema/c" 约束 -->
    <bean id="person04" class="com.leocode.bean.Person" c:name="Eva" c:age="18" c:gender="女" />


    <!-- 引入配置文件 -->
    <import resource="student.xml" />

    <import resource="people.xml" />

</beans>